<link type="text/css" rel="stylesheet" href="components/footer.css"/> 

<footer class="grey darken-4 footer " style=" padding-bottom: 60px">
	<div class="container ">
		<div class="row hide-on-med-and-down" style="vertical-align: center ">
			<div class="col s3 offset-s1" align="center">
				<a href="#"><img class="footer-logo" src="images/logo.png"></a>
			</div>
			<div class="col s7 white-text" align="center">50 Topping 7 Kekinian<br>50 Rasa 8 Khas Milenial</div>	
		</div>

		<div class="col s12 hide-on-med-and-down" align="center">
			<div class="white-text">Follow our social media</div>
			<div class="row">
				<div class="col s2 offset-s3 fa fa-facebook"></div>
				<div class="col s2 fa fa-twitter"></div>
				<div class="col s2 fa fa-instagram"></div>
			</div>
		</div>

		<div class="row white-text" style="text-align: center">			
		Made by <a class="red-text text-lighten-3" href="http://calcatz.com">Calcatz</a> with love. 
		</div>
	</div>
</footer>