<link type="text/css" rel="stylesheet" href="../components/header.css" />
<link type="text/css" rel="stylesheet" href="../components/header-mobile.css" />
<link type="text/css" rel="stylesheet" href="../icons/flaticon.css" />
<link type="text/css" rel="stylesheet" href="../components/navigationbar.css" />

<ul id="nav-mobile" class="sidenav white ">
  <li><a id="account-navbar" class='text-main-color' href=''>account@mail.com</a></li>
  <li><a id="login-navbar" class="waves-effect waves-light btn button-bg-secondary-color"
      href="login_page.html">Login</a></li>
  <li><a id="daftar-navbar" class="waves-effect waves-light btn button-bg-main-color"
      href="register_page.html">Daftar</a></li>
  <li><a id="help-navbar" class='text-main-color' href="">Pusat Bantuan</a></li>
  <li><a id="logout-navbar" class='text-main-color' href="php/logout.php">Logout</a></li>
</ul>

<div class="navbar-fixed right hide-on-small-only">
  <nav role="navigation">
    <div class="nav-wrapper container">
      <div class="logo-text-header-placeholder">
        <a id="logo-container" href="index.html" class="brand-logo text-darken-1 main-logo logo-header">
          <img src="images/logo.png" class="main-company-logo" alt="Mitra Kapital Indonesia">
        </a>
        <div>Balap</div>
      </div>
    </div>
    <div class="upper-navbar">
      <div class="container">
        <!-- <a href="/" class="company-name">BUKAPINTU</a>
        <form class="search-form" action="/action_page.php">
          <input class="search-text-input" type="text" name="lastname">
          <input class = "search-submit" type="submit" value="Cari">
        </form>  -->
        <ul class="hide-on-small-only upper-nav-align-right">
          <li class="linkbar-links">
            <div class="underline"></div>
            <a class="link" id="partner-button" href="">Status Pesanan</a>
          </li>
          <li class="linkbar-links">
            <div class="underline"></div>
            <a class="link" id="partner-button" href="">Keranjang</a>
            <div class="count-bubble">0</div>
          </li>
          <li class="linkbar-links">
            <div class="underline"></div>
            <a class="link" id="partner-button" href="./auth.html">Masuk/Daftar</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="hide-on-small-only lower-navbar">
    <div class="container">
      <div class="" style="display: flex">
        <ul class="hide-on-small-only" style="margin:0px; width: 75%">
          <li class="linkbar-links">
            <div class="underline"></div>
            <a class="link" id="partner-button" href="./agents.html">Beli</a>
            <div class="dropdown">
              <a href="" class="dropdown-item">Aksesoris Pintu</a>
              <a href="" class="dropdown-item">Alat Kerja</a>
              <a href="" class="dropdown-item">Bahan Bangunan</a>
            </div>
          </li>
          <li class="linkbar-links">
            <div class="underline"></div>
            <a class="link" id="about-button" href="">Jasa</a>
            <div class="dropdown">
              <a href="" class="dropdown-item">Jasa Pemasangan</a>
              <a href="" class="dropdown-item">Jasa Renovasi</a>
            </div>
          </li>
          <li class="linkbar-links">
            <div class="underline"></div>
            <a class="link" id="about-button" href="">Sewa Peralatan</a>
          </li>
          <li class="linkbar-links">
            <div class="underline"></div>
            <a class="link" id="about-button" href="">Daftar Proyek</a>
          </li>
          <li class="linkbar-links">
            <div class="underline"></div>
            <a class="link" id="about-button" href="">Lelang Proyek & Properti</a>
          </li>
          <li class="linkbar-links">
            <div class="underline"></div>
            <a class="link" id="about-button" href="">Fund Raising Proyek</a>
          </li>
          <li class="linkbar-links">
            <div class="underline"></div>
            <a class="link" id="help-button" href="">Pustaka</a>
            <div class="dropdown">
              <a href="" class="dropdown-item">Tips/Inovasi/Pustaka Design</a>
              <a href="" class="dropdown-item">Interior Design/Landscape</a>
            </div>
          </li>
          <li class="linkbar-links">
            <div class="underline"></div>
            <a class="link" id="help-button" href="">Pelatihan</a>
            <div class="dropdown">
              <a href="" class="dropdown-item">Sertifikasi Kompetensi</a>
              <a href="" class="dropdown-item">Pelatihan & Workshop</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="header-spacer"></div>

<ul id='dropdown1' class='dropdown-content'>
  <li><a id='dropdown-lihat-semua' class="dropdown-content-minimal-margin" href="">Lihat Semua</a></li>
</ul>

<ul id='dropdown-account' class='dropdown-content'>
  <li><a id='dropdown-logout' class="dropdown-content-minimal-margin" href="php/logout.php">Logout</a></li>
</ul>

<!-- <div class="navbar-top hide-on-med-and-up">
        <a id ="home-button-mobile" class="navbar-top-button" href="/"></a>
        <div class="navbar-top-title">Daftar Menu</div>
      </div> -->

<div class="navbar-bottom hide-on-med-and-up">
  <a id="home-button-mobile" class="navbar-bottom-button" href="index.html">
    <span class="flaticon-home navbar-bottom-button-icon"></span>
    <div class="navbar-bottom-button-text">Home</div>
  </a>
  <a id="project-button-mobile" class="navbar-bottom-button" href="./underconstruction.html">
    <span class="flaticon-hhistory navbar-bottom-button-icon"></span>
    <div class="navbar-bottom-button-text">History</div>
  </a>
  <a id="outlets-button-mobile" class="navbar-bottom-button" href="./underconstruction.html">
    <span class="flaticon-account navbar-bottom-button-icon"></span>
    <div class="navbar-bottom-button-text">Account</div>
  </a>
  <a id="chat-button-mobile" class="navbar-bottom-button" href="javascript:void(Tawk_API.toggle())">
    <span class="flaticon-chat navbar-bottom-button-icon"></span>
    <div class="navbar-bottom-button-text">Chat</div>
  </a>
  <a id="more-button-mobile" class="navbar-bottom-button">
    <span class="flaticon-more navbar-bottom-button-icon"></span>
    <div class="navbar-bottom-button-text">Menu</div>
  </a>
</div>

<div class="navbar-more-popout hide-on-med-and-up" id="navbar-more-popout">
  <a href="./authentication.html" class="navbar-popup-item">Masuk</a>
  <a href="./authentication.html?type=signup" class="navbar-popup-item">Daftar</a>
</div>

<!-- <script type="text/javascript" src="js/authcheck.js"></script> -->
<script type="text/javascript" src="../components/addressdetail.js"></script>
<script type="text/javascript" src="../components/header.js"></script>
<!-- <script type="text/javascript" src="components/navigationbar.js"></script> -->